@charset "utf-8";
@import './reset.css';
@import './head.css';
@import './main.css';
@import './footer.css';

body {
  font-family: 'SF Pro SC', 'HanHei SC', 'SF Pro Text', 'Myriad Set Pro',
    'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.rt {
  display: inline-block;
  padding-left: 0.3em;
  margin-bottom: 4px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bolder;
}

.cart-link {
  margin-top: 6px;
  line-height: 1.38105;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: .011em;
}

.cart-link a {
  display: inline-block;
  vertical-align: top;
  color: #66bbff;
}

.cart-link a:last-child {
  margin-left: 20px;
}